<ul>
    <li>
        <h2>Horizon Design System</h2>
        <ul>
            <li>
                <a href="/horizon-design-system">
                    Overview
                </a>
            </li>
        </ul>
    </li>
    
    {% for sectionName in meta.sidebarSectionOrder %}
        {% if meta.componentsBySection[sectionName] %}
            <li>
                <h2>{{ sectionName }}</h2>
                <ul>
                    {% for component in meta.componentsBySection[sectionName] %}
                        <li>
                            <a href="{{ '/components/' + (component.tagName | removeTerraPrefix) | url }}">
                                {{ component.name | classNameToComponentName }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
    {# Include any sections not in the defined order (fallback) #}
    {% for sectionName, components in meta.componentsBySection %}
        {% set isInOrder = false %}
        {% for orderedSection in meta.sidebarSectionOrder %}
            {% if orderedSection == sectionName %}
                {% set isInOrder = true %}
            {% endif %}
        {% endfor %}
        {% if not isInOrder %}
            <li>
                <h2>{{ sectionName }}</h2>
                <ul>
                    {% for component in components %}
                        <li>
                            <a href="{{ '/components/' + (component.tagName | removeTerraPrefix) | url }}">
                                {{ component.name | classNameToComponentName }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>