<ul>
    <li>
        <h2>Elements</h2>
        <ul>
            <li>
                <a href="{{ '/horizon-design-system' | url }}">Overview</a>
            </li>
            <li>
                <a href="{{ '/horizon-design-system/button' | url }}">Button</a>
            </li>
            <li>
                <a href="{{ '/horizon-design-system/icon' | url }}">Icon</a>
            </li>
            <li>
                <a href="{{ '/horizon-design-system/accordion' | url }}">Accordion</a>
            </li>
            <li>
                <a href="{{ '/horizon-design-system/chip' | url }}">Chip</a>
            </li>
        </ul>
    </li>
    <li>
        <h2>Components</h2>
        <ul>
            {% for component in meta.components %}
                <li>
                    <a href="{{ '/components/' + (component.tagName | removeTerraPrefix) | url }}">
                        {{ component.name | classNameToComponentName }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>