<html lang="en" class="">
    <head>
        <meta charset="UTF-8" />
        <title>HDS 3D Loader</title>
        <link rel="stylesheet" type="text/css" href="/dist/themes/horizon.css" />

        <style>
            html,
            body {
                height: 100%;
            }

            body {
                background: #17171c;
            }

            svg {
                position: fixed;
                top: 20%;
                left: 20%;
            }

            .planet {
                fill: #2e2e32;
            }

            .orbit {
                fill: #1c67e3;
            }
        </style>
    </head>

    <body>
        <svg
            viewBox="0 0 160 160"
            width="100"
            height="100"
            xmlns="http://www.w3.org/2000/svg"
        >
            <circle
                class="planet"
                cx="80"
                cy="80"
                r="50"
                style="transform-box: fill-box; transform-origin: 50% 50%"
            />

            <!-- total length of orbit ellipse = 298.2393493652344 -->
            <path
                id="orbit"
                fill="none"
                stroke="#1C67E3"
                stroke-width="2.5"
                stroke-dasharray="260 38"
                style="paint-order: fill"
                d="M 53.528 96.775 C 73.584 124.975 100.654 140.601 115.393 130.137 C 132.613 117.912 119.246 79.55 105.434 60.525 C 90.233 39.587 60.506 18.543 44.962 30.114 C 29.456 41.657 38.219 75.25 53.528 96.775 Z"
            >
                <animate
                    attributeName="stroke-dashoffset"
                    begin="-0.23s"
                    from="300"
                    to="0"
                    dur="2s"
                    repeatCount="indefinite"
                />
            </path>

            <circle style="fill: rgb(27, 105, 227)" r="5.5">
                <animateMotion begin="0s" dur="2s" repeatCount="indefinite">
                    <mpath href="#orbit"></mpath>
                </animateMotion>
            </circle>

            <path
                id="mask"
                class="planet"
                d="M 130.176 80.041 C 130.176 41.552 88.321 17.697 55.544 36.652 C 40.081 45.594 30.865 62.428 30.47 80.094 L 130.176 80.041 Z"
                style="transform-box: fill-box; transform-origin: 49.8347% 100.62%"
                transform="matrix(-0.350367, -0.936613, 0.936613, -0.350367, -0.148117, -0.20884)"
            />
        </svg>
    </body>
</html>
